asgiref==3.7.2
Django==4.2.6
django-cors-headers==4.3.0
django-filter==23.3
django-generic-positions==0.2.3
django-hvad==1.8.0
django-libs==2.0.3
django-rest-framework==0.1.0
django-user-media==1.2.5
django-versatileimagefield==3.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-flex-fields==1.0.2
easy-thumbnails==2.8.5
Markdown==3.5
Pillow==10.1.0
PyJWT==2.8.0
python-magic==0.4.27
pytz==2023.3.post1
simplejson==3.19.2
sqlparse==0.4.4
typing_extensions==4.8.0
